section.past-meetings#past-meetings
    .past-meetings__container.container

        .section-header
            span.subtitle-section Архив
            h2.title-section Прошедшие встречи

        .swiper.past-meetings__slider

            .past-meetings__list.swiper-wrapper

                article.past-meetings__item.past-meeting.swiper-slide(style="background-image: url('./assets/img/past-meetings/01.png')")
                    .past-meeting__body
                        h3.past-meeting__caption Вечеринка в стиле сша 90-х годов
                        span.past-meeting__date 22 апреля | Винзавод
                        a.past-meeting__btn.button.button--primary(href="./assets/img/meetings/03.jpg") Фотоотчет
                            .past-meeting__gallery
                                a(data-src="./assets/img/past-meetings/02.png")
                                a(data-src="./assets/img/past-meetings/03.png")



                article.past-meetings__item.past-meeting.swiper-slide(style="background-image: url('./assets/img/past-meetings/02.png')")
                    .past-meeting__body
                        h3.past-meeting__caption Обсуждение иностранной литературы 20-го века
                        span.past-meeting__date 3 мая | Библиотека им. В.И. Ленина
                        a.past-meeting__btn.button.button--primary(href="./assets/img/meetings/03.jpg") Фотоотчет
                            .past-meeting__gallery
                                a(data-src="./assets/img/past-meetings/02.png")
                                a(data-src="./assets/img/past-meetings/03.png")
                                a(data-src="./assets/img/past-meetings/01.png")

                article.past-meetings__item.past-meeting.swiper-slide(style="background-image: url('./assets/img/past-meetings/03.png')")
                    .past-meeting__body
                        h3.past-meeting__caption Композиторы 17-19 века
                        span.past-meeting__date 28 мая | Лофт Alfa
                        a.past-meeting__btn.button.button--primary(href="./assets/img/meetings/03.jpg") Фотоотчет
                            .past-meeting__gallery
                                a(data-src="./assets/img/past-meetings/02.png")
                                a(data-src="./assets/img/past-meetings/03.png")
                                a(data-src="./assets/img/past-meetings/01.png")

                article.past-meetings__item.past-meeting.swiper-slide(style="background-image: url('./assets/img/past-meetings/04.png')")
                    .past-meeting__body
                        h3.past-meeting__caption Французкие кондитерские
                        span.past-meeting__date 28 июня | Винзавод
                        a.past-meeting__btn.button.button--primary(href="./assets/img/meetings/03.jpg") Фотоотчет
                            .past-meeting__gallery
                                a(data-src="./assets/img/past-meetings/02.png")
                                a(data-src="./assets/img/past-meetings/03.png")
                                a(data-src="./assets/img/past-meetings/01.png")
