section.meetings#meetings
    .meetings__container.container

        .section-header.meetings__header
            span.subtitle-section Скоро
            h2.title-section Ближайшие встречи

        .meetings__list

            article.meetings__item
                .meeting.meeting-desktop
                    .meeting__left
                        .meeting__date
                            span 29
                            span июня <br> в 10:30
                        img.meeting__img(src="./assets/img/meetings/01.png")

                    .meeting__right
                        h3.meeting__caption Завтрак в Buro Tsum и экскурсия в закулисье Большого театра
                        .meeting__section
                            h4.meeting__section-title Дресс-код
                            ul.meeting__section-list
                                li - Smart casual
                        .meeting__section
                            h4.meeting__section-title Что входит в стоимость?
                            ul.meeting__section-list
                                li - Лекция
                                li - Фотограф
                                li - Розыгрыш подарков
                                li - Завтрак
                        a.meeting__menu(href="##") Смотреть меню
                        .meeting__footer
                            button.meeting__pay-btn.button.button--primary Оплатить
                            .meeting__total
                                span Стоимость
                                span 10 000 руб.

                .meeting.meeting-mobile
                    span.meeting__date 29.06 | в 10:30
                    button.meeting__btn Подробнее
                    h3.meeting__caption Завтрак в Buro Tsum и экскурсия в закулисье Большого театра



            article.meetings__item
                .meeting.meeting-desktop
                    .meeting__left
                        .meeting__date
                            span 21
                            span июня <br> в 11:30
                        img.meeting__img(src="./assets/img/meetings/02.jpg")

                    .meeting__right
                        h3.meeting__caption Лекция «Британский панк: от хаоса до самой высокой моды»
                        .meeting__section
                            h4.meeting__section-title Дресс-код
                            ul.meeting__section-list
                                li - Smart casual
                        .meeting__section
                            h4.meeting__section-title Что входит в стоимость?
                            ul.meeting__section-list
                                li - Лекция
                                li - Фотограф
                                li - Розыгрыш подарков
                                li - Завтрак
                        a.meeting__menu(href="##") Смотреть меню
                        .meeting__footer
                            button.meeting__pay-btn.button.button--primary Оплатить
                            .meeting__total
                                span Стоимость
                                span 10 000 руб.

                .meeting.meeting-mobile
                    span.meeting__date 21.06 | в 11:30
                    button.meeting__btn Подробнее
                    h3.meeting__caption Лекция «Британский панк: от хаоса до самой высокой моды»



            article.meetings__item
                .meeting.meeting-desktop
                    .meeting__left
                        .meeting__date
                            span 13
                            span августа <br> в 20:00
                        img.meeting__img(src="./assets/img/meetings/03.jpg")

                    .meeting__right
                        h3.meeting__caption Арт-вечеринка "Путешествие, Море, пейзажи, цветы"
                        .meeting__section
                            h4.meeting__section-title Дресс-код
                            ul.meeting__section-list
                                li - Smart casual
                        .meeting__section
                            h4.meeting__section-title Что входит в стоимость?
                            ul.meeting__section-list
                                li - Лекция
                                li - Фотограф
                                li - Розыгрыш подарков
                                li - Завтрак
                        a.meeting__menu(href="##") Смотреть меню
                        .meeting__footer
                            button.meeting__pay-btn.button.button--primary Оплатить
                            .meeting__total
                                span Стоимость
                                span 10 000 руб.

                .meeting.meeting-mobile
                    span.meeting__date 13.08 | в 20:00
                    button.meeting__btn Подробнее
                    h3.meeting__caption Арт-вечеринка "Путешествие, Море, пейзажи, цветы"