// --- Ближайшие встречи ---
section.meetings#meetings
    .meetings__container.container

        .section-header.meetings__header
            span.subtitle-section Скоро
            h2.title-section Ближайшие встречи

        .meetings__list

            // --- Встреча 1 ---
            article.meetings__item
                .meeting.meeting-desktop
                    .meeting__left
                        .meeting__date
                            span 29
                            span июня <br> в 10:30
                        img.meeting__img(src="./assets/img/meetings/01.png")

                    .meeting__right
                        h3.meeting__caption Завтрак в Buro Tsum и экскурсия в закулисье Большого театра
                        .meeting__section
                            h4.meeting__section-title Дресс-код
                            ul.meeting__section-list
                                li - Smart casual
                        .meeting__section
                            h4.meeting__section-title Что входит в стоимость?
                            ul.meeting__section-list
                                li - Лекция
                                li - Фотограф
                                li - Розыгрыш подарков
                                li - Завтрак
                        button.meeting__menu(type="button" onclick="window.meet1.showModal()") Смотреть меню
                        .meeting__footer
                            button.meeting__pay-btn.button.button--primary(type="button" onclick="window.form.showModal()") Оплатить
                            .meeting__total
                                span Стоимость
                                span 10 000 руб.

                .meeting.meeting-mobile
                    span.meeting__date 29.06 | в 10:30
                    button.meeting__btn Подробнее
                    h3.meeting__caption Завтрак в Buro Tsum и экскурсия в закулисье Большого театра

                // Popup "Смотреть меню"
                dialog.meeting__menu-popup#meet1
                    button.meeting__menu-popup-close(type="button" onclick="window.meet1.close()") &#x2715;
                    .meeting__menu-popup-body

                        .meeting__menu-popup-slider.swiper
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./assets/img/meetings/01.png")
                                .swiper-slide
                                    img(src="./assets/img/meetings/02.jpg")
                                .swiper-slide
                                    img(src="./assets/img/meetings/03.jpg")
                            .swiper-button-next
                            .swiper-button-prev

                        .meeting__menu-popup-text
                            h4 Меню
                            ul
                                li Чай
                                li Кофе
                                li Игристое вино
                                li Миндальный круассан
                                li Булочка с корицей
                            p P.S. Безглютеновое меню при необходимости




            // --- Встреча 2 ---
            article.meetings__item
                .meeting.meeting-desktop
                    .meeting__left
                        .meeting__date
                            span 21
                            span июня <br> в 11:30
                        img.meeting__img(src="./assets/img/meetings/02.jpg")

                    .meeting__right
                        h3.meeting__caption Лекция «Британский панк: от хаоса до самой высокой моды»
                        .meeting__section
                            h4.meeting__section-title Дресс-код
                            ul.meeting__section-list
                                li - Smart casual
                        .meeting__section
                            h4.meeting__section-title Что входит в стоимость?
                            ul.meeting__section-list
                                li - Лекция
                                li - Фотограф
                                li - Розыгрыш подарков
                                li - Завтрак
                        button.meeting__menu(type="button" onclick="window.meet2.showModal()") Смотреть меню
                        .meeting__footer
                            button.meeting__pay-btn.button.button--primary(type="button" onclick="window.form.showModal()") Оплатить
                            .meeting__total
                                span Стоимость
                                span 20 000 руб.

                .meeting.meeting-mobile
                    span.meeting__date 21.06 | в 11:30
                    button.meeting__btn Подробнее
                    h3.meeting__caption Лекция «Британский панк: от хаоса до самой высокой моды»

                // Popup "Смотреть меню"
                dialog.meeting__menu-popup#meet2
                    button.meeting__menu-popup-close(type="button" onclick="window.meet2.close()") &#x2715;
                    .meeting__menu-popup-body

                        .meeting__menu-popup-slider.swiper
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./assets/img/meetings/01.png")
                                .swiper-slide
                                    img(src="./assets/img/meetings/02.jpg")
                                .swiper-slide
                                    img(src="./assets/img/meetings/03.jpg")
                            .swiper-button-next
                            .swiper-button-prev

                        .meeting__menu-popup-text
                            h4 Меню
                            ul
                                li Чай
                                li Кофе
                                li Игристое вино
                                li Миндальный круассан
                                li Булочка с корицей
                            p P.S. Безглютеновое меню при необходимости


            // --- Встреча 3 ---
            article.meetings__item
                .meeting.meeting-desktop
                    .meeting__left
                        .meeting__date
                            span 13
                            span августа <br> в 20:00
                        img.meeting__img(src="./assets/img/meetings/03.jpg")

                    .meeting__right
                        h3.meeting__caption Арт-вечеринка "Путешествие, Море, пейзажи, цветы"
                        .meeting__section
                            h4.meeting__section-title Дресс-код
                            ul.meeting__section-list
                                li - Smart casual
                        .meeting__section
                            h4.meeting__section-title Что входит в стоимость?
                            ul.meeting__section-list
                                li - Лекция
                                li - Фотограф
                                li - Розыгрыш подарков
                                li - Завтрак
                        button.meeting__menu(type="button" onclick="window.meet3.showModal()") Смотреть меню
                        .meeting__footer
                            button.meeting__pay-btn.button.button--primary(type="button" onclick="window.form.showModal()") Оплатить
                            .meeting__total
                                span Стоимость
                                span 30 000 руб.

                .meeting.meeting-mobile
                    span.meeting__date 13.08 | в 20:00
                    button.meeting__btn Подробнее
                    h3.meeting__caption Арт-вечеринка "Путешествие, Море, пейзажи, цветы"

                // Popup "Смотреть меню"
                dialog.meeting__menu-popup#meet3
                    button.meeting__menu-popup-close(type="button" onclick="window.meet3.close()") &#x2715;
                    .meeting__menu-popup-body

                        .meeting__menu-popup-slider.swiper
                            .swiper-wrapper
                                .swiper-slide
                                    img(src="./assets/img/meetings/01.png")
                                .swiper-slide
                                    img(src="./assets/img/meetings/02.jpg")
                                .swiper-slide
                                    img(src="./assets/img/meetings/03.jpg")
                            .swiper-button-next
                            .swiper-button-prev

                        .meeting__menu-popup-text
                            h4 Меню
                            ul
                                li Чай
                                li Кофе
                                li Игристое вино
                                li Миндальный круассан
                                li Булочка с корицей
                            p P.S. Безглютеновое меню при необходимости



    include ../form-popup/form-popup