section.about#about
    .about__container.container

        .section-header
            span.subtitle-section Встречи клуба ценителей искусства
            h2.title-section На встречах мы обсуждаем искусство: живопись, моду, архитектуру, балет.

        .about__body
            img.about__image-1(src="./assets/img/about/01.png")
            img.about__image-2(src="./assets/img/about/02.png")
            img.about__image-3(src="./assets/img/about/03.png")
            .about__text
                p В мире онлайна так хочется иногда встретиться с умными и приятными людьми за бокалом шампанского и сделать для себя открытия в мире искусства!
                p Каждая встреча проходит в атмосфере эстетики, сопутсвующей теме лекции. На встречах мы расскажем об удивительных и интригующих фактах, мира искусства. Вы точно услышите те факты, о которых ранее не знали.