dialog.form-popup#form
    button.form-popup__close(type="button" onclick="window.form.close()") &#x2715;
    .form-popup__body

        .form-popup__header
            //h4.form-popup__caption Завтрак в Buro Tsum и экскурсия в закулисье Большого театра
            //span.form-popup__date Дата и время: 29.06 | в 10:30
            //span.form-popup__price Стоимость: 10 000 руб.

            h4.form-popup__caption Заголовок События
            span.form-popup__date Дата и время:
            span.form-popup__price Стоимость:

        form.form-popup__form.form(method="dialog")
            input.form__input(name="name" placeholder="Ваше имя:" minlength="2" maxlength="20" autocomplete="off" required)
            input.form__input(type="email" name="email" placeholder="Ваш Email:" inputmode="email" autocomplete="off")
            input.form__input(type="tel" name="phone" placeholder="Номер телефона:" inputmode="tel" autocomplete="off" required)

            .form__footer
                button.form__submit.button.button--black(type="submit") Оплатить
                p.form__policy Отправляя ваши данные вы соглашаетесь с #[a(href="") политикой конфиденциальности]



