section.hero
    .hero__container.container
        .hero__header
            h1.hero__title(data-aos="fade-down" data-aos-delay="500") Юдифь
            p.hero__subtitle(data-aos="fade-up" data-aos-delay="1000") Арт-проект для <br> настоящих ценителей <br> искусства

        .hero__sliders

            .hero__slider.hero__slider--1.swiper(data-aos="fade-up")
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/img/hero/01.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/02.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/03.jpg")

            .hero__slider.hero__slider--2.swiper(data-aos="fade-up" data-aos-delay="100")
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/img/hero/02.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/03.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/01.jpg")


            .hero__slider.hero__slider--3.swiper(data-aos="fade-up" data-aos-delay="300")
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/img/hero/03.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/01.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/02.jpg")


            a.hero__link(href="#meetings")
                span.hero__link-text(data-aos="fade-up" data-aos-delay="1100") Ближайшие встречи
                span.hero__link-circle