section.hero
    .hero__container.container
        .hero__header
            h1.hero__title Юдифь
            p.hero__subtitle Арт-проект для <br> настоящих ценителей <br> искусства

        .hero__sliders

            .hero__slider.hero__slider--1.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/img/hero/01.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/02.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/03.jpg")

            .hero__slider.hero__slider--2.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/img/hero/02.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/03.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/01.jpg")


            .hero__slider.hero__slider--3.swiper
                .swiper-wrapper
                    .swiper-slide
                        img(src="./assets/img/hero/03.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/01.jpg")
                    .swiper-slide
                        img(src="./assets/img/hero/02.jpg")


            a.hero__link(href="#meetings")
                span.hero__link-text Ближайшие встречи
                span.hero__link-circle