// --- Футер ---
footer.footer#footer
    .footer__container.container

        .footer__body

            img.footer__logo(src="./assets/img/logo.png")

            address.footer__contacts
                .footer__contacts-item
                    span Телефон:
                    a(href="https://wa.me/79817851527") +7 981 785-15-27
                .footer__contacts-item
                    span Email:
                    a(href="mailto:judith-art@mail.ru") judith-art@mail.ru

            address.footer__contacts.footer__contacts--social
                .footer__contacts-item
                    span Соцсети:
                    a(href="https://www.instagram.com/dar_lukashova?igsh=MXB3OGg2enluZDFu&utm_source=qr") Instagram*

                span.footer__note(data-da=".footer__body, 480, 4") *Компания Meta -- запрещенная <br> организация на территории РФ

            .footer__requisites
                .footer__requisites-banks
                    img(src="./assets/img/icons/tbank.jpg")
                    img(src="./assets/img/icons/mir.jpg")
                .footer__requisites-data
                    span Самозанятый Лукашова Д.О.
                    span ИНН: 231524672214

        .footer__bottom(data-da=".footer__body, 640, last")
            a(href="##" target="_blank") Политика конфиденциальности
            a.footer__offer(href="##" target="_blank") Договор оферты
            span.footer__copyright © Все права защищены

