extends ../layouts/main

block variables
    - var title = 'Арт-проект "Юдифь"'

block content
    include ../blocks/hero/hero
    include ../blocks/about/about
    //include ../blocks/advantages/advantages
    include ../blocks/meetings/meetings
    include ../blocks/past-meetings/past-meetings