section.advantages
    .advantages__container.container

        .advantages__body
            .section-header.advantages__header
                span.subtitle-section Помимо знаний которые обогащают <br> вашу палитру
                h2.title-section Вы приобретаете:

            ul.advantages__list
                li -- Полезный и интересный материал, кроме того мы тщательно подбираем место встречи и создаем камерную Атмосферу для того, чтобы лучше прочувствовать обсуждаемую тему.
                li -- Новое комьюнити , мы стараемся создать общество людей небезразличных к новым знаниям и искусству в целом.
                li -- Возможность приобрести членскую карту на месяц и посетить все мерояприятия клуба.
                li -- Возможность найти единомышленников
                li -- Новые эмоции на каждой лекции

        img.advantages__img.advantages__img-right-1(src="./assets/img/advantages/01.png")
        img.advantages__img.advantages__img-left-1(src="./assets/img/advantages/02.png")
        img.advantages__img.advantages__img-right-2(src="./assets/img/advantages/03.png")
        img.advantages__img.advantages__img-left-2(src="./assets/img/advantages/04.png")
        img.advantages__img.advantages__img-left-3(src="./assets/img/advantages/05.png")
        img.advantages__img.advantages__img-right-3(src="./assets/img/advantages/06.png")

